body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ccc;
}

.notifications {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 25px;
    right: 25px;
}

.notification {
    margin-bottom: 1rem;
    color: white;
    padding: 1em;
}

.success {
    background-color: green;
}

.warning {
    background-color: orange;
}

.danger {
    background-color: red;
}
