<%- include('partials/header') %>

<!-- Welcome -->
<div class="text-center">
    <h2 class="h1 my-4">Page d'administration des réponses</h2>
</div>

<div class="row mb-3 text-center flew-wrap">
    <!-- One card -->
    <ul class="list-group">
      <% if(locals.answers?.length){%>
      <% answers.forEach(anwser => {%> 
        <a href="/answers/<%= anwser.id %>">
          <li class="list-group-item"><%= anwser.description %></li>
        </a>
        <% }); %>
        <% }else{ %>
          <p>pas de anwser</p>
          <%} %>

    </ul>
</div>

<%- include('partials/footer') %>
