<%- include('partials/header') %>

<% if (locals.message) { %>
    <div class="error">

        <p><%= message %></p>
        <p><a href="/">Retour à l'accueil</a></p>


        <% if (locals.stack) { %>
            <pre>
                <%= stack %>
            </pre>
        <% }%>



        <% if (locals.status === 404) { %>
            <img src="/img/404.png" alt="Page not found">
        <% } %>
    </div>
<% } %>

<%- include('partials/footer') %>