<%- include('partials/header') %>

    <!-- Welcome -->
    <div class="text-center">
      <h2 class="h1 my-4">Page d'administration de niveaux</h2>
    </div>


    <div class="row mb-3 text-center flew-wrap">

        <!-- One card -->
        <ul class="list-group">
            <!-- On sait qu'on devrait recevoir un tableau de levels -->
            <!-- On vérifie que l'on a les données attendues avant de tenter quoi que ce soit -->
            <!-- <%# if (locals.levels && levels.length) { %> -->
            <% if (locals.levels?.length) { %>
                <% levels.forEach(level => { %>
                    <li class="list-group-item">
                        <a href="/levels/<%= level.id %>">
                            <%= level.name %>
                        </a>
                    </li>
                <% }) %>
            <% } else { %>
                <p>Pas de niveaux en BDD</p>
            <% } %>
        </ul>

    </div>
<%- include('partials/footer') %>