<%- include('partials/header') %>

<!-- Welcome -->
<div class="text-center">
  <a href="/levels/add">Ajouter un level</a>
    <h2 class="h1 my-4">Page d'administration de niveaux</h2>
</div>

<div class="row mb-3 text-center flew-wrap">
    <!-- One card -->
    <ul class="list-group">
      <% if(locals.levels?.length){%>
      <% levels.forEach(level => {%> 
        <a href="/levels/<%= level.id %>">
          <li class="list-group-item"><%= level.name %></li>
        </a>
        <% }); %>
        <% }else{ %>
          <p>pas de level</p>
          <%} %>
    </ul>

    <form action="/levels/add" method="post">
      <input type="text" name="name" id="name">
      <button class="btn btn-primary">Créer un niveau</button>
    </form>
</div>

<%- include('partials/footer') %>
